@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Encode Sans", sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    /* outline: 1px solid red; */
}

html, body {
    overflow-x: hidden; /* Prevenir desbordamiento horizontal */
    width: 100%; /* Asegurar ancho completo del viewport */
}

img{
    max-width: 100%;
    height: auto;
}

.navbar{
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
}

.navbar__logos-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 20px;
}

.navbar__links-container ul{
    display: flex;
    flex-direction: row;
    padding: 20px;
    align-items: self-start;
    justify-content: space-evenly;
    background-color: grey;

}

.navbar__links-container a{
    color: white;
    font-size: 1em;
    font-weight: 600;
}

.navbar__logo-cultura,
.navbar__logo-instituto{
    height: 100px;
    width: auto;
}

/* MENÚ SLIDER */
.slider__container img{
    height: 400px;
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
}


/* ARTICULOS */
article{
    display: flex;
    flex-direction: row;
}

article hr{
    margin-top: 15px;
    margin-bottom: 15px;
    width: 3px;
    background-color: gray;
}

.article__container{
    margin: 40px;
    padding: 5px 50px;
    height: auto;
    width: 1000px;
    text-align: justify;
    color: rgb(76, 76, 76);
}

.article__title{
    font-size: 40px;
    margin-bottom: 1em;
}

.article__text{
    font-size: 20px;
    line-height: 1.4em;
}

/* Estilos cards */
.cards__container{
    background: rgb(239,0,255);
    background: linear-gradient(0deg, rgba(239,0,255,1) 0%, rgba(0,212,255,1) 100%);
    
    display: flex;
    flex-direction: column;
   
    gap: 20px;
    padding: 50px;
   
    height: auto;
    
    width: 100%;
    align-items: center;
    justify-content: center;
}

.cards__container h2{
    font-size: 3em;
}

.character-list ul{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.character-list a{
    text-decoration: none;
    color: black;
    font-weight: 700;
}

.card{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 900px;
    height: 500px;
    
    background-color:rgb(230, 230, 230);
    border-radius: 5px;

    transform-style: preserve-3d;
    transition: transform 0.4s ease;
    -webkit-transition: transform 0.4s ease;
    -moz-transition: transform 0.4s ease;
    -ms-transition: transform 0.4s ease;
    -o-transition: transform 0.4s ease;
}

.card-front,
.card-back{
    display: flex;
    flex-direction: row;
    position: absolute;

    gap: 15px;
    padding: 5px 10px;

    backface-visibility: hidden; /* Oculta el reverso cuando no se ve */
}

.card-back{
    cursor: pointer;
    transform: rotateY(180deg); /* La cara posterior se rota inicialmente */
}

.card-front__info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.card-back__info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    gap: 10px;
}

.card-front-info__text{
    display: flex;
    flex-direction: column;

    gap: 20px;

    text-align: left;
}

.card-title{
    font-size: 2em;
    font-weight: 800;
}

.card-text{
    font-size: 1em;
    font-weight: 500;
}

.card img{
    height: 480px;
    width: auto;
}

#card-qr{
    height: 480px;
    width: auto;
}

.flipped{
    transform: rotateY(180deg); /* Gira la tarjeta para mostrar el reverso */
}

.flip-button{
    background-color:cornflowerblue;
    font-weight: 600;
    color: white;
    height: 35px;
    width: 160px;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.reverse{
    flex-direction: row-reverse;
}

footer{
    background: linear-gradient(90deg, rgba(63,187,251,1) 0%, rgba(252,70,165,1) 100%);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 20px;
    padding: 20px 0;
}

#icba-logo-vertical{
    height: auto;
    width: 100px;
}

.footer__main-logo{
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-evenly;
}

.footer__socials-container{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.footer__socials{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.socials__btns{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.footer__extra{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
    align-items: self-end;
    width: 50vw;
}

.footer__extra-logo{
    display: flex;
    flex-direction: row;
    gap: 90px; 
}

.footer__extra-logo img{
    height: 35px;
    width: auto;

}
