@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Encode Sans", sans-serif;
    list-style: none;
    text-decoration: none;
}

.navbar{
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
}

.navbar__logos-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 20px;
}

.navbar__links-container ul{
    display: flex;
    flex-direction: row;
    padding: 20px;
    align-items: self-start;
    justify-content: space-evenly;
    background-color: grey;
}

.navbar__links-container a{
    color: white;
    font-size: 1em;
    font-weight: 600;
}

.navbar__logo-cultura,
.navbar__logo-instituto{
    height: 100px;
    width: auto;
}

main img{
    width: 100%;
    height: auto;
}

article{
    display: flex;
    flex-direction: row;
}

article hr{
    margin-top: 15px;
    margin-bottom: 15px;
    width: 3px;
    background-color: gray;
}

.article__container{
    margin: 3em;
    padding: 5px 50px;
    height: auto;
    width: 50%;
    text-align: left;
    line-height: 2;
    color: gray;
}

.article__title{
    font-size: 40px;
}

.article__text{
    font-size: 20px;
}

.cards__container{
    width: 100%;
    height: 400px;
    background: rgb(63,187,251);
    background: linear-gradient(90deg, rgba(63,187,251,1) 0%, rgba(252,70,165,1) 100%);
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 20px;
    padding: 10px 40px;
}

.socials__container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}