/* menos ancho que 600
por ende, usas maxwidth para achicar las cosas en celu  */
@media only screen and (max-width: 600px){
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    html, body {
        margin: 0;
        padding: 0;
        overflow-x: hidden; /* Prevenir desbordamiento horizontal */
        width: 100%; /* Asegurar ancho completo del viewport */
    }
    img {
        width: 100%;
        height: auto;
    }

    .nav-logo-container{
        display: flex;
        justify-content: space-around;
    }

    #navbar__logo-cultura, #navbar__logo-instituto{
        height: 50px;
        width: auto;
    }

    /* SLIDER */
    .slider__container img{
        object-fit: cover;
    }

    /* ARTICULOS */
    article{
        flex-direction: column;
        align-items: center;
    }
    article hr{
        display: none;
    }
    .article__container{
        width: 80vw;
        margin: 0 0; /* Centrar */
    }
    .article__title{
        text-align: center;
        font-size: 150%;
        font-weight: 700;
    }
    .article__text{
        font-size: 100%;
        line-height: 1.6;
        text-align: justify;
        line-break: normal;
        max-width:max-content;
        white-space: pre-line;
    }

    /* CARDS */
    .cards__container{
        gap: 50px;
    }
    .card{
        height: 400px;
        width: 250px;
    }
    .card-title{
        font-size: 1em;
        text-align: center;
    }
    .card img{
        height: auto;
        width: 200px;
    }
    #avatar-back{
        display: none;
    }
    .card-front,
    .card-back{
        align-items: center;
        flex-direction: column;
    }
    .flip-button{
        height: 30px;
        width: 200px;
    }

    /* ARTISTAS */
    .artistas__hero{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .articulo__artistas{
        width: 70vw;
    }
    #portfolio_btn{
        align-self: center;
    }
    
    /* FOOTER */
    footer{
        gap: 15px;
        flex-direction: column;
    }
    #icba-logo-vertical{
        height: auto;
        width: 80px;
    }
    #dibujo-fondo-footer{
        display: none;
    }
    .footer__socials-container{
        justify-content: space-between;
    }
    .footer__socials{
        flex-direction: column;
        align-items: left;
    }
    .footer__extra{        
        width: 80vw;
        flex-direction: row;
        justify-content: center;
    }
    .footer__extra-logo{
        gap: 15px;
    }
    .footer__extra-logo img{
        height: 16px;
        width: auto;
    }
}
